*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0;
    font-family: arial, sans-serif;
}

.header{
    background-image: url("header_bg.jpeg");
    padding: 20px;
}

.header h1 {
    font-size: 4vw;
}

.title{
    text-align: center;
}

.navigation{
    background-color: rgb(245, 168, 181);
    text-align: center;
    padding: 20px;
}

.navigation h2 {
    font-size: 2vw;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.navigation ul li {
    display: inline;
    margin-right: 15px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
}

.navigation ul li a:hover {
    color: palevioletred;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 40px;
    background-color: lightpink;
    padding: 20px;
}

.articles p {
    text-align: justify;
    padding: 5px;
}

.articles h3 {
    text-align: center;
    font-size: 1.4vw;
}

.articles p {
    font-size: 1.2vw;
}

.art1-pic img {
    width: 100%;
    height: auto; 
}

.art2-pic img {
    width: 100%;
    height: auto;
}

.footer {
    background-color: rgb(233, 158, 171);
    padding: 20px;
}

.footer .copyright {
    text-align: center;
    font-size: 1.1vw;
}

@media screen and (max-width: 500px) {
    .header h1{
        font-size: larger;
    }

    .navigation h2 {
        font-size: large;
    }

    .navigation ul li a {
        font-size: small;
    }

    .articles h3 {
        font-size: small;
    }

    .articles p {
        font-size: smaller;
    }

    .footer .copyright {
        font-size: x-small;
    }
}